[submodule "lib/FLNL"]
	path = lib/FLNL
	url = https://github.com/vcrocher/libFLNL.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
